/* Div Contâiner */
.div-container-escopo {
    width: 100%;
    height: 100%;
    margin-left: 50px;
}

/* Flecha Redirecionamento */
.referencia-projeto {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #2E3A52;
    gap: 10px;
}

.div-flecha {
    margin-top: 30px;
    height: 50px;
    width: 350px;
    display: flex;
}

/* Título e subtítulo escopo */
.div-titulo-subtitulo-escopo {
    margin-top: 30px;
    height: 50px;
    display: block;
    align-items: center;
    justify-content: center;
}

.subtitulo-escopo {
    width: 1570px;
    font-size: 16px;
    font-weight: medium;
    margin-top: 10px;
    color: #2E3A52;
}

/* Container Texto */

#toolbar {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px;
    background: #ffffff;
    border-bottom: 1px solid #e5e7eb;
    border-radius: 20px 20px 0 0;
}

.group {
    display: flex;
    gap: 4px;
    padding-right: 8px;
    border-right: 1px solid #e5e7eb;
}

.group:last-child {
    border-right: none;
}

button {
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    background: transparent;
    border-radius: 8px;
    cursor: pointer;

    transition: all 0.15s ease;
}

button:hover {
    background: #f3f4f6;
}

button.active {
    background: #e0ecff;
    color: #2563eb;
}

/* Ícones */
button i {
    width: 18px;
    height: 18px;
}

#container-texto {
    margin: 100px auto;
    background-color: #fff;
    border-radius: 20px;
    width: 1000px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.05);
    overflow: hidden;
}

.ProseMirror {
    width: 794px;
    min-height: 100%;
    margin: auto;
    background: white;
    padding: 96px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    outline: none;
    font-size: 16px;
    line-height: 1.6;
}

#editor {
    height: 500px;
    overflow-y: auto;
}